server.port: 8088

spring:
  application:
    name: OPEN_WEATHER_API_V2
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost   